html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

img,
iframe {
  vertical-align: bottom;
}

/* ヘッダーのグループ */
header {
  background-color: #707070;
  margin: auto;
  max-width: 1279px;
  position: relative;
}

.logo {
  position: absolute;
  top: 8%;
  left: 5%;
}

.title {
  position: absolute;
  top: 14%;
  left: 5%;
}

header p {
  margin-top: 0;
}

.main_image {
  width: 100%;
}

/* メインコンテンツのグループ */
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 120px;
}
.copy {
  margin: 0 auto;
  max-width: 570px;
  height: 168px;
}

.catch {
  font-size: 15px;
  max-width: 447px;
  height: 43px;
  margin: 0 auto 56px;
  letter-spacing: 0.2em;
  line-height: 1.87;
  text-align: center;
}

.read {
  font-size: 13px;
  margin: 0 auto;
  height: 59px;
  letter-spacing: 0.1em;
  line-height: 2.15;
  text-align: center;
}

.product_section {
  margin: 120px auto 0;
  max-width: 964px;
}

.style_section {
  margin: 120px auto 0;
  max-width: 1647.17px;
  width: 100vw;
  position: relative;
}

h2 {
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0.56em;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.style_h2 {
  max-width: 1280px;
}

section ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

section ol li {
  list-style-type: none;
}

.product-name {
  font-size: 11px;
  letter-spacing: 0.1em;
}

section ol li div {
  max-width: 129.79px;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

section ol li div p.price {
  font-family: "Avenir";
  font-size: 11px;
  margin-top: 0;
}

section ol li div p.view {
  font-family: "Lato";
  font-size: 11px;
  margin-top: 0;
}

section div ul li {
  list-style-type: none;
  margin: 0 0 50px 30px;
  display: flex;
}

section div ul li div {
  margin: 20% 0 0 10%;
  height: 20px;
  max-width: 300px;
}

.color_number {
  font-family: "Lato";
  font-size: 11px;
  letter-spacing: 0.17em;
  margin-bottom: 30px;
  width: 100%;
}

.color {
  font-family: "Lato";
  font-size: 22px;
  letter-spacing: 0.4em;
  width: 100%;
  margin-bottom: 40%;
}

section div ul li div div {
  margin-left: 0;
  margin-top: 0;
  display: flex;
}

.price {
  font-family: "Avenir";
  font-size: 11px;
  letter-spacing: 0.1em;
  margin-right: 10px;
}

.view {
  font-size: 11px;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.line {
  position: absolute;
  top: 0%;
}