html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN",
}

img,
iframe {
  vertical-align: bottom;
}

/* ヘッダーのグループ */

header {
  background-color: #707070;
  margin:  auto;
  max-width: 1279px;
}

h1 {
  margin: 0 auto;
  max-width: 960px;
  height: 60px;
  display: flex;
  align-items: center;

  padding-left: 10px;
}

header p {
  margin-top: 0;
}

header p img {
  width: 100%;
}

/* メインコンテンツのグループ */
.copy {
  margin: 120px auto;
  max-width: 570px;
  height: 168px;
}

.catch {
  font-size: 15px;
  max-width: 447px;
  height: 43px;
  margin: 0 auto 56px;
  letter-spacing: 0.2em;
  line-height: 1.87;
}

.read {
  font-size: 13px;
  margin: 0 auto;
  letter-spacing: 0.1em;
  line-height: 2.15;
  text-align: center;
}

section {
  margin: 40px auto 0;
  max-width: 964px;
}

h2 {
  font-family: "Lato";
  font-size: 18px;
  letter-spacing: 0.56em;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

section ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

section ol li {
  flex-basis: 300px;
  list-style-type: none;
}

.product-name {
  font-size: 11px;
  letter-spacing: 0.1em;
}